@import url('reset.css'); /* Reseta os estilos padrão dos navegadores */

/* Estilo global */
body {
  background-color: black; /* Cor de fundo do corpo */
}

/* Estilo para títulos */
h2 {
  font-size: 2rem; /* Tamanho da fonte */
  color: #33A8DB; /* Cor do texto */
  font-weight: bold; /* Peso da fonte */
  letter-spacing: 4px; /* Espaçamento entre letras */
  text-transform: uppercase; /* Texto em letras maiúsculas */
  margin-bottom: 24px; /* Margem inferior */
}

p {
  color: white; /* Cor do texto padrão */
}

/* Seção geral */
section {
  margin: 100px auto; /* Margem centralizada para as seções */
}

/* Estilos da banner principal */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url("assets/images/banner.png");
  background-size: cover; /* Cobre toda a área */
  background-repeat: no-repeat; /* Não repete a imagem */
  height: 600px; /* Altura do banner */
  padding-top: 60px; /* Espaçamento superior */
  border-bottom: 1px solid #33A8DB80; /* Borda inferior com opacidade */
}

.banner .banner-content {
  color: white; /* Cor do texto dentro do banner */
  width: 600px; /* Largura do conteúdo */
  margin: auto; /* Centraliza horizontalmente */
  text-align: center; /* Alinhamento do texto */
}

.banner h1 {
  font-size: 2.5rem; /* Tamanho da fonte */
  font-weight: 900; /* Peso da fonte */
  text-transform: uppercase; /* Texto em maiúsculas */
  color: transparent; /* Cor transparente para aplicar gradiente */
  background: -webkit-linear-gradient(#33A8DB, #1472B7); /* Gradiente */
  background-clip: text; /* Recorta a área do gradiente */
  -webkit-background-clip: text; /* Compatibilidade com WebKit */
}

.banner p {
  font-size: 1.25rem; /* Tamanho da fonte */
  margin: 16px 0 24px; /* Margens superior, inferior e entre linhas */
}

/* Estilo do logotipo dentro do banner */
.banner .logo {
  background-color: rgba(0, 0, 0, .2); /* Fundo semitransparente */
  height: 260px; /* Altura */
  width: 260px; /* Largura */
  margin: auto; /* Centraliza */
  border-radius: 50%; /* Formato circular */
  padding: 16px; /* Espaçamento interno */
  margin-bottom: 16px; /* Margem inferior */
}

.banner .logo img {
  margin: auto; /* Centraliza imagem */
  width: 100%; /* Largura completa */
  height: 100%; /* Altura completa */
  object-fit: contain; /* Mantém a proporção da imagem */
}

.banner .banner-content button {
  color: #31A8DD; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: bold; /* Peso da fonte */
  padding: 16px 32px; /* Espaçamento interno do botão */
  text-transform: uppercase; /* Texto em maiúsculas */
  letter-spacing: 4px; /* Espaçamento entre letras */
  background-color: transparent; /* Fundo transparente */
  border-image: linear-gradient(#3BA1CD, #1572B7); /* Gradiente na borda */
  border-image-slice: 10; /* Segmentação do gradiente */
  border-radius: 30px; /* Bordas arredondadas */
}

/* Conteúdo do curso */
#course-content {
  width: 800px; /* Largura */
  text-align: center; /* Centraliza o texto */
}

#course-content .modules-list {
  margin: 24px 0; /* Margem para lista de módulos */
}

#course-content .modules-list .module {
  color: white; /* Cor do texto */
  width: 530px; /* Largura dos módulos */
  margin: 0 auto 24px; /* Margem inferior e centralização */
  border: 1px solid #33A8DB; /* Borda com cor azul */
  background-color: #252525; /* Fundo escuro */
  padding: 16px; /* Espaçamento interno */
  border-radius: 100px; /* Bordas arredondadas */
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7); /* Sombra interna */
}

#course-content .modules-list .module span {
  color: #33A8DB; /* Destaque para spans */
}

/* Seção Transform the World */
#transform-world {
  height: 560px; /* Altura */
  background-size: cover; /* Imagem cobre toda a área */
  background-image: url("assets/images/woman-code.png"); /* Imagem de fundo */
  background-attachment: fixed; /* Fixação da imagem */
  border-top: 1px solid #33A8DB80; /* Borda superior */
  border-bottom: 1px solid #33A8DB80; /* Borda inferior */
  padding: 200px; /* Espaçamento interno */
}

#transform-world p {
  font-weight: 900; /* Peso da fonte */
  font-size: 2.5rem; /* Tamanho da fonte */
  text-transform: lowercase; /* Texto em minúsculas */
  max-width: 250px; /* Largura máxima */
  text-shadow: 3px 2px #33A8DB; /* Sombra no texto */
}

/* Desafios profissionais */
#professional-challenges {
  text-align: center; /* Centraliza o texto */
  width: 800px; /* Largura */
}

#professional-challenges img {
  margin: 32px 0; /* Margens superior e inferior */
}

/* Rodapé */
footer {
  padding: 60px 0; /* Espaçamento interno do rodapé */
  text-align: center; /* Centraliza conteúdo */
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2)); /* Gradiente no fundo */
  border-top: 1px solid #33A8DB80; /* Borda superior */
}

footer .dio-logo {
  width: 300px; /* Largura do logo */
}

footer a {
  color: #33A8DB; /* Cor do link */
  font-weight: bold; /* Peso do texto */
  text-decoration: none; /* Remove sublinhado */
}